<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <a class="" href="https://www.upeu.edu.pe/"><img class=" preload-me"
                        src="https://www.upeu.edu.pe/wp-content/uploads/2019/01/logo-footer-UPeU.png"
                        srcset="https://www.upeu.edu.pe/wp-content/uploads/2019/01/logo-footer-UPeU.png 61w, https://www.upeu.edu.pe/wp-content/uploads/2019/01/logo-footer-UPeU-retina.png 126w"
                        width="61" height="58" sizes="61px" alt="UPeU"></a>
                <p class="grey-text text-lighten-4">Vive el centenario</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Créditos</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Política de Privacidad</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Términos y Condiciones de uso</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © UPeU 2019. &nbsp;Todos los derechos son reservados — Implementado by: <a href="#"
                style="color:#ebbb1d;">IdeasUPeU</a>

        </div>
    </div>
</footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sidenav = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(sidenav);

        var parallax = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(parallax);
        
        var collapsible = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(collapsible);  
    });
</script>

</html>